.container {
  width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
  height: 100px;
}

.middle {
  width: 100%;
}

.bottom {
  width: 100%;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}

.spaced {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.top .left {
  padding: 0 25px;
}

.text {
  font-size: medium;
  width: 50%;
}

.radar-container {
  display: flex;
  flex-direction: column;
}

.ranking_wrapper {
  height: 200px;
  overflow-y: scroll;
}

.scatter_tooltip {
  width: 50px;
  height: 50px;
  background-color: red;
}

/* .text {
  margin: auto;
  width: 200px;
  height: 50px;
  border-style: solid;
  border-radius: 20px;
  font-size: 15px;
  border-width: 3px;
  text-align: center;
  vertical-align: middle;
} */

.hide {
  display: none;
}

