.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.spaced {
  justify-content: space-between;
}

.container {
  width: 1000px;
}

.radar-container {
  display: flex;
  flex-direction: column;
}

.ranking_wrapper {
  height: 200px;
  overflow-y: scroll;
}

.scatter_tooltip {
  width: 50px;
  height: 50px;
  background-color: red;
}

/* #map-tooltip {
  margin: auto;
  width: 200px;
  height: 50px;
  border-style: solid;
  border-radius: 20px;
  font-size: 15px;
  border-width: 3px;
  text-align: center;
  vertical-align: middle;
} */

.hide {
  display: none;
}

