.row {
  display: flex;
  flex-direction: row;
}

.radar-container {
  display: flex;
  flex-direction: column;
}

.ranking_wrapper {
  height: 200px;
  overflow-y: scroll;
}

.scatter_tooltip {
  width: 50px;
  height: 50px;
  background-color: red;
}

#map-tooltip {
  margin: auto;
  width: 400px;
  height: 100px;
  border-style: solid;
  position: absolute;
  border-radius: 20px;
  font-size: 25px;
  border-width: 3px;
  text-align: center;
  vertical-align: middle;
}

